.paragraph_section {
width: 56vw;
margin: 50px auto;
}
.paragraphs {
display: flex;
flex-direction: column;
}
.P1 {
font-size: 24px;
margin-bottom: 20px;
}
.P2 {
font-size: 24px;
margin-bottom: 20px;
}
.P3 {
    font-size: 24px;
}
.welcome {
    display: flex;
    justify-content: flex-end; 
}
.strong {
    font-weight: 900;
}
.hidden_link {
    text-decoration: none;
}
.image {
    margin: 30px;  
}
.row {
display: inline-block;
width: 65vw;
margin: 0 auto;
margin-bottom: 75px;
}

.section_row {
display: flex; 
flex-direction: column;
}
.line {
width: 800px;
height: 1px;
background: black;
margin: 0 auto;
}
.p_bottom {
    text-align: center;
    margin-top: 10px;
}
.t_bottom {
    margin: 10px auto;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    width: 200px;
    
}
